{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}

{% endblock %}

<div class="row">

  <span style="text-align:center;">
  <img src="{{ SITEURL }}/static/images/Georgetown/punchcard.png" width="1200" alt="MaTOS">  
  
  <p>
  Près de 70 ans après <a href="https://en.wikipedia.org/wiki/Georgetown%E2%80%93IBM_experiment">l'exp&eacute;rience IBM de Georgetown</a>, MaTOS (''Machine Translation for Open Science'') revisite la traduction automatique de documents scientifiques en texte intégral afin de faciliter et d'ouvrir l'accès à la connaissance scientifique. MaTOS est soutenu par <a href="https://fr.wikipedia.org/wiki/Agence_nationale_de_la_recherche">l'Agence Nationale de la Recherche</a> dans le cadre de l'AAPG 2022 - CES 23 (Intelligence artificielle et science des données).
  </p>
  </span>
  
  {% include 'sidebar.html' %}
</div><!-- /.row -->

{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
